.footer{
    width: 100%;
    display: flex;
    padding: 2%;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(98, 120, 247, 1);
    justify-content: space-evenly;
    color: white;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}

.redes img{
    width: 20px;
    padding: 0px 15px;
}